<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" context="IE-edge">
	<meta name= "viewport" content="width=device-width, initial-scale=1.0"> 
<style>

 title{
 	color: #191970;
	font-size: 35px;
	font-family: 'Cinzel', serif;
	float: center;
	width: 90%;
	height: 190%;
	padding: 30px;
	margin: margin;
 }
form{
	color: #191970;
	font-size: 35px;
	font-family: 'Cinzel', serif;
	float: center;
	width: 90%;
	height: 190%;
	padding: 30px;
	margin: margin;
}
</style>
<h1>Request example</h1>
	
<body>
	{%for i in address%}

	<p>{{ i.address }}</p>
	<p>{{ current energy rating }}</p>
	<p>{{ potential energy rating }}</p>

	
<form method="POST" action="/epc_ratings/rating/">
	{% csrf_token %}
Address : <input type="text" name="code">
<input type="submit">
</form>
</body>
</style>
</head>
