<!DOCTYPE html>
<head>
<style>

 title{
 	color: #191970;
	font-size: 35px;
	font-family: 'Cinzel', serif;
	float: center;
	width: 90%;
	height: 190%;
	padding: 30px;
	margin: margin;
 }
form{
	color: #191970;
	font-size: 35px;
	font-family: 'Cinzel', serif;
	float: center;
	width: 90%;
	height: 190%;
	padding: 30px;
	margin: margin;
}
</style>
<h1>Request example</h1>
	
<body>
<form method="POST" action="/epc_ratings/rating/">
Post Code : <input type="text" name="code">
<input type="submit">
</form>
</body>
</style>
</head>
